Ansar Ahmed
ULTIMATE DESIGN TECHNOLOGY LLP
EE
1173919287
1173919287
Mumbai
ansar@mail.com


support@assure-tech.online

make parameter dynamic

create_subadmin,facial_data image,upload facial_data image


modify add user 
*********************************

<body>
    <div class="background-overlay"></div>
    <div class="auth-container">
        <div class="logo-container">
            <img src="{% static 'app1/images/logo.png' %}" alt="Assure Tech Logo">
        </div>
    
       
        <div class="auth-card">
           
            <div class="auth-tabs">
                <div id="signin-tab" class="active"style="font-size: 20px;">Sign in</div>
                {% comment %} <div id="signup-tab">Sign up</div> {% endcomment %}
            </div>
            
            <!-- Login Form -->
            <form id="signin-form" action="{% url 'login' %}" method="POST" class="auth-form active">
                {% csrf_token %}
                <label for="signin-email">E-mail</label>
                <input type="email" id="signin-email" name="email" placeholder="Email" required>
                <label for="signin-password">Password</label>
                <input type="password" id="signin-password" name="password" placeholder="Password" required>
                <button type="submit">Get Started</button>
                {% if form.errors %}
                    <div class="error-message">
                        {% for field, error in form.errors.items %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
            
        </div>
    </div>