<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Login</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
    <div id="g_id_onload"
         data-client_id="266538272214-hlg5s2s9a8mj7uvbckvid4auijakocfm.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div>

    <div class="g_id_signin" data-type="standard"></div>

    <script>
        function handleCredentialResponse(response) {
            console.log(response.credential);  // This is your ID token

            // Send the ID token to your backend
            fetch('http://localhost:8000/google/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    token: response.credential
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                if (data.message === "User logged in successfully") {
                    // Redirect to the desired page
                    window.location.href = 'http://127.0.0.1:8000/sites/';
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>